- name: Deploy application to Kubernetes
  hosts: local
  gather_facts: false

  tasks:
    - name: Apply namespace
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: "{{ kube_namespace }}"

    - name: Deploy Kubernetes manifests
      kubernetes.core.k8s:
        state: present
        src: "{{ item }}"
      loop:
        - "../../k8s/{{ env }}/namespace.yaml"
        - "../../k8s/{{ env }}/deployment.yaml"
        - "../../k8s/{{ env }}/service.yaml 
